.container {
  max-width: 77rem;
}

.header {
  padding-bottom: 2rem!important;
  margin-bottom: 2rem!important;
  border-bottom: 1px solid rgba(95,95,95,.78);
}

.content {
  margin-bottom: 1rem;
  padding-right: 1.99999999rem;
}

.sidebar {
  margin-bottom: 1rem;
}
